.App {
  text-align: center;
  background-color: #ffffff;
  color: #2d3142;
}


input{
  border-radius: 4px;
  border-color: #4f5d75;
  color: #2d3142;
  background-color:#ffffff;
  font-size: 18px;
}

a{
  text-decoration: none;
  color: #2d3142;
}

label{
  font-size: 12px;
}

span, p{
  vertical-align: middle;
}

button:hover{
  background-color: #bfc0c0;
}
   
